svg {
    margin: 24px auto;
    display: block;
}
circle {
    fill: transparent;
    stroke: #f00;
    stroke-width: 2;
}
svg text#chk {
    font-family: sans-serif;
    font-size: 24px;
    fill: #00f;
}

.pink_svg{
  background-color:#ffcaca;
}

.blue{
  background-color: #85b9e9;
}


.bg-image{
  opacity: 1;
  transition: .5s ease;
}

.bg-image .caption{
  font-size: 130%;
  text-align: center;
}

.bg-image .mask{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: ;
  background-color: rgba(0 , 0, 0, 0.4);
  
}
